@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');
* {padding: 0%; margin: 0%; box-sizing: border-box; text-decoration: none ; list-style-type: none; ;
    font-family: 'Poppins', sans-serif;}

    :root{
        --black-coffee: #3a2e39ff;
        --midnight-green-eagle-green: #1e555cff;
        --unbleached-silk: #f4d8cdff;
        --middle-yellow-red: #edb183ff;
        --red-salsa: #f15152ff;}
    
    
    header{background-color:var(--midnight-green-eagle-green);
    width: 100%; display: flex; justify-content:space-between; height: 65px; max-width: 100000gipx;
    position:absolute;
    top: 0%;}
        
        

    .logo{height: 90%}

    .navbar,
    .listanavbar{display: flex; align-items: center; justify-content: center;}

    .navbar{gap: 350px;;}

    .listanavbar{gap: 40px;}

    .logocamara{height: 80%;}
    
    .listanavbar a {color:var(--unbleached-silk); font-size: 20px;;}